/*FONT BIN
font-family: 'Roboto Slab', serif;
font-family: 'Righteous', cursive;
font-family: 'Crete Round', serif;
*/
#navbar {
    background-color: #ff9021;
}

#logo-text {
    font-family: 'Righteous', cursive;
    font-size: 1.2em;
}

#search-form {
    margin-right: 100px;
}

#hero-image {
    position: relative;
    
}

.hero-text {
    font-family: 'Roboto Slab', serif;
    position: absolute;
    left: 50%;
    bottom: 20%;
    color: white;
    font-size: 2.2em;
    transform: translate(-50%, -50%);
    text-shadow: 4px 4px black;
    line-height: 1em;
}

#give-review {
    background-color: #e25200;
    color: white;
    border: #a50000;
}

#score-page {
    background-color: #d6f1ff;
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 2px solid #dddddd;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    text-align: center;
}

table, th, td {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.1em;
    table-layout: fixed;
    margin-top: 15px;
    margin-bottom: 15px;

}

th, td {
    padding: 7px;
    border-bottom: 2px solid #ddd;
}